# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Audio files
*.mp3
*.wav
*.flac
*.aac
*.ogg
*.wma
*.m4a
*.opus
*.aiff
*.au
*.ra
*.3gp
*.amr

transcribe/facebook-seamless-m4t-v2-large/
/facebook-seamless-m4t-v2-large/